body {
    font-family: Arial, sans-serif;
    background-color: green#f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: center;
    height: 100vh;
}

h2 {
    color:greenyellow;
}

#employee-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: green;
    padding: 20px;
    box-shadow: 0 0 10px green(0, 0, 0, 0.1);
}

.employee {
    border-bottom: 1px solid green#ddd;
    padding: 10px 0;
}

.employee:last-child {
    border-bottom: none;
}

.employee h2 {
    margin: 0;
    font-size: 1.2em;
    color: #007BFF;
}

.employee p {
    margin: 5px 0;
}
